PRODML_TRAIN_TRAINING_SET=
PRODML_TRAIN_VALIDATION_SET=
PRODML_TRAIN_MODEL_PATH=
PRODML_TRAIN_ONNX_PATH=
PRODML_TRAIN_MODEL_NAME=
PRODML_TRAIN_LOG_LEVEL=
PRODML_TRAIN_LOG_FORMAT=

PRODML_PREDICT_MODEL_PATH=
PRODML_PREDICT_LOG_LEVEL=
PRODML_PREDICT_LOG_FORMAT=

PRODML_BENCHMARK_MODEL_PATH=
PRODML_BENCHMARK_ONNX_PATH=
PRODML_BENCHMARK_LOG_LEVEL=
PRODML_BENCHMARK_LOG_FORMAT=
