PRODML_TRAIN_TRAINING_SET=
PRODML_TRAIN_VALIDATION_SET=
PRODML_TRAIN_PKL_MODEL_PATH=models/model.pkl
PRODML_TRAIN_MODEL_NAME=linear
PRODML_TRAIN_MODEL_PARAMS={}
PRODML_TRAIN_LOG_LEVEL=info
PRODML_TRAIN_LOG_FORMAT=default

PRODML_PREDICT_PKL_MODEL_PATH=models/model.pkl
PRODML_PREDICT_MODEL_SOURCE=file
PRODML_PREDICT_REGISTRY_MODEL_NAME=ride-duration-predictor
PRODML_PREDICT_REGISTRY_STAGE=Production
PRODML_PREDICT_LOG_LEVEL=info
PRODML_PREDICT_LOG_FORMAT=default

PRODML_BENCHMARK_PKL_MODEL_PATH=models/prodml_model.pkl
PRODML_BENCHMARK_ONNX_MODEL_PATH=models/prodml_model.onnx
PRODML_BENCHMARK_LOG_LEVEL=info
PRODML_BENCHMARK_LOG_FORMAT=default

MLFLOW_TRACKING_URI=http://localhost:5001

AWS_ACCESS_KEY_ID=s3admin
AWS_SECRET_ACCESS_KEY=***