PRODML_TRAINING_SET=
PRODML_VALIDATION_SET=
PRODML_TRAIN_MODEL_PATH=
PRODML_PREDICT_MODEL_PATH=
PRODML_MODEL_NAME=

PRODML_TRAIN_LOG_LEVEL=
PRODML_TRAIN_LOG_FORMAT=
PRODML_PREDICT_LOG_LEVEL=
PRODML_PREDICT_LOG_FORMAT=